
 /*Style index.html*/

 .container-background{
    background: linear-gradient( #ea0b8c, #72268c);
    display: flex;
	flex-direction: column;
	justify-content: center;
    padding: 2em;
    height: 100vh;
}
.lyft-white{
    text-align: center;
    
}

/*Style register.html*/
.background-lyft{
    background-image: url(../assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    display: flex;
	flex-direction: column;
	
    
}
