<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	 <!--Import Bootstrap.css-->
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<!-- tab icon -->
	<link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
	<!--font-->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!--Css-->
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft</title>
</head>
<!-- signup -->
<body class= "container-background">
        <main>
                <div class="container-fluid">
                    <div class = "row">
                        <div class="hidden-xs">
                        <div class="col-xs-6 col-sm-6">
                                <img src="../assets/img/giphy.gif" alt="" class="img-responsive gift">
                        </div>
                        <div class= "col-xs-6 col-sm-6">
                            <br><br><br><br>
                            <h1>Thanks for your register</h1>
                        </div>
                        </div>
                        <div class="visible-xs">
                        <div class=".col-xs-6 .col-md-4">
                                <img src="../assets/img/giphy.gif" alt="" class="img-responsive gift">
                        </div>
                        <div class= ".col-xs-6 .col-md-4">
                            <br><br><br><br>
                            <h1 class= "text-center">Thanks for your register</h1>
                        </div>
                        </div>
                    </div>
                </div>
        
        </main>
   
        
        <!-- Import jQuery-->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <!--<script src="../js/register-end.js"></script-->
        <!-- bootstrap -->
        <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>