<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	 <!--Import Bootstrap.css-->
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<!-- tab icon -->
	<link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
	<!--font-->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!--Css-->
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft</title>
</head>
<!-- verify -->
<body>
    <section>
            <div class="container-fluid">
                    <div class="row">
                        <div class= "col-xs-12 lala" >
                            <!--mobile-->
                            <div class="col-xs-12 col-sm-12 verify visible-xs text-left">
                                <a href="signup.html" class="before-page"><i class="fa fa-chevron-left fa-2x push-left" aria-hidden="true"></i></a>
                                <h3 align="center">Verify phone number</h3>
                                <h4 align="center">Join now free ride credit</h4>
                                <hr>   
                            </div>
                            <!--desktop-->
                            <div class="col-lg-12 col-md-12 hidden-xs text-left">
                                <a href="signup.html" class="before-page"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
                                <h1 align="center">Verify phone number</h1>
                                <h3 align="center">Join now free ride credit</h3>
                                <hr>
                            </div>
                            <div class="col-xs-5 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 verify-lab">
                                <h4>LAB-</h4>
                                <input id="input-code" type="text" class="form-control text-center"  maxlength="3">
                            </div>
                        </div>
                        <!--Para dar otto codigo aleatorio-->
                        <button type="button" id="button-resend" class="btn btn-default center-block  btn-sm button-resend"> Resend code </button>
                        <div class ="col-xs-6 col-xs-offset-3">
                                <button type="button" id="button-next" class="btn btn-default center-block button-lyft btn-block buttons"  disabled> NEXT </button>
                        </div>
                        
                    </div>
            </div>
    </section>
    <!-- Import jQuery-->
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/verify.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>